{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container">
        <h2>All Posts of people you follow</h2>
        <div class="border p-3 my-3" id="new_posts">
            {%if posts|length%}
                {% for post in posts %}
                    <div class="border p-3 my-3">
                        <div>
                            <h3>
                                <a href="{%url 'profile' post.poster%}-{{post.poster.id}}">
                                    {{post.poster}}
                                </a>
                            </h3>
                        </div>
                        <div>
                            <small>
                                {%if post.edited%}
                                    {{post.editedAt}}- Edited 
                                {%else%}
                                    {{post.createdAt}} 
                                {%endif%}
                            </small>
                        </div>
                        <div class="m-1" id="post_content-{{post.id}}">
                            {{post.content}}
                        </div>
                        <div class="d-flex">
                            <form id="like_post_form_{{post.id}}">
                                {% csrf_token %}
                                <input type="text" value="{{post.id}}" hidden>
                                <button class="btn btn-none border-0 p-0 like_post_btn" type="submit">
                                    <i class="mx-1 fa fa-heart"></i>
                                    <span id="span_like_{{post.id}}">{{post.likes.all | length}}</span>
                                </button>
                            </form>
                        </div>
                    </div>
                {%endfor%}
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {%if current_page > 1 %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            {%endif%} 
                            
                            <li class="page-item"><a class="page-link" href="?page={{current_page}}">{{current_page}}</a></li>

                            {%if last_page != 1 and current_page < last_page%}
                            <li class="page-item">
                                <a class="page-link" href="?page={{current_page|add:'1'}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                                </a>
                            </li>
                            {%endif%}
                        </ul>
                      </nav>
                </div>
            {%else%}
                <div class="d-flex justify-content-center" id="nopost">
                    <p>No posts yet!</p>    
                </div>
            {%endif%}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    
    <script src="{% static 'network/helpers.js' %}"></script>

{% endblock javascript%}
