{%extends "EisenHowerApp/layout.html"%}

{%block content%}

<div class="container">
    <h1>Tasks you have been completed</h1>
    <div class="finished_task_container">
        <div class="d-flex">
            <div class="delete_task">
                <form action="">
                    <i class="fa-solid fa-trash"></i>
                </form>
            </div>
            <div class="task_finished">
                Task 1
            </div>
        </div>
        <div class="d-flex">
            <div class="delete_task">
                <form action="">
                    <i class="fa-solid fa-trash"></i>
                </form>
            </div>
            <div class="task_finished">
                Task 2
            </div>
        </div>
        <div class="d-flex">
            <div class="delete_task">
                <form action="">
                    <i class="fa-solid fa-trash"></i>
                </form>
            </div>
            <div class="task_finished">
                Task 3
            </div>
        </div>
    </div>
</div>

{%endblock%}