{%extends "EisenHowerApp/layout.html"%}

{%block content%}

<div class="container mt-3">
    <h2>Tasks you have been completed</h2>    
    <div class="finished_task_container">
        {%for t in completedTask%}
            <div class="d-flex" id="task_container_{{t.id}}">
                <form class="from delete_task_form" method="post">
                    {% csrf_token %}
                    <input type="text" name="task_id" value="{{t.id}}" hidden>
                    <div class="delete_completed_task me-2">
                        <button type="submit" id="delete_task_id" name="delete_task" class="border-0">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
                <div class="task_finished">
                    <a class="text-dark text-decoration-none " href="{%url 'task' t.id %}">{{t.title}}</a>
                </div>
            </div>
        {%endfor%}
    </div>

    <div class="row align-items-center">
        <div class="col-6">
            <div class="d-flex justify-content-end p-3">
                <div class="pagination">
                    <span class="step-links">
                        {% if completedTask.has_previous %}
                            <a href="?tasks={{ completedTask.previous_page_number }}&task_count={{task_count}}">
                                <i class="fas fa-arrow-left me-2"></i>
                            </a>
                        {% endif %}
            
                        <span class="current text-secondary">
                            Page {{ completedTask.number }} of {{ completedTask.paginator.num_pages }}
                        </span>
            
                        {% if completedTask.has_next %}
                            <a href="?tasks={{ completedTask.next_page_number }}&task_count={{task_count}}">
                                <i class="fas fa-arrow-right ms-2"></i>
                            </a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-around">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{task_count}}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/completed_Tasks?task_count=5">5</a></li>
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/completed_Tasks?task_count=10">10</a></li>
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/completed_Tasks?task_count=25">25</a></li>
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/completed_Tasks?task_count=50">50</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

{%endblock%}

{%block javascript%}

<script>
    // delete task
    const task_forms = document.querySelectorAll(".delete_task_form");

    task_forms.forEach((task_form) => {
        task_form.addEventListener('submit', DeleteTask)
    })

    function DeleteTask(e){
        e.preventDefault();
        let taskID = e.target.firstChild.nextSibling.nextSibling.nextSibling.value;
        let formData = new FormData(e.target);

        fetch(`http://127.0.0.1:8000/delete_task/${taskID}`, {
            method: 'POST',
            credentials: 'same-origin',
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
            },
            body: formData
        })
        .then(response => {
            return response.json()
        })
        .then(data => {
            const delete_task = document.querySelector(`#task_container_${taskID}`);
            delete_task.remove();
            new Toast({
                message: data.message,
                type: 'success'
            }); 
        })
    }
</script>

{%endblock%}