{%extends "EisenHowerApp/layout.html"%}

{%block content%}

<div class="cards d-flex flex-column justify-content-center align-items-center">
    <div class="row">
        <div class="col card card4">
            <div class="card-header sticy_card_header">
               Do First 
            </div>
            <div class="card-body">
                <div class="task_lists">
                    <ul id="sec_do_first">
                        {%for task in tasks%}
                            {%if task.quadrant == 'do_first' %}
                            <li class="d-flex task_item" id="ts_{{task.id}}">
                                <form method="post" id="form_task_{{task.id}}" onsubmit="return false">
                                    {% csrf_token %}
                                    <div class="form-check isDone">
                                        {%if task.status == "done"%}
                                            <input class="form-check-input" name="isChecked" type="checkbox" checked>
                                        {%elif task.status == "in_progress"%}
                                            <input class="form-check-input" name="isChecked" type="checkbox">
                                        {%endif%}
                                    </div>
                                </form>
                                <a href="{%url 'task' task.id %}" class="text-decoration-none text-dark">{{task.title}}</a>
                                <div class="form-check delete_task">
                                    <button type="button" class="btn delete_a_task" data-bs-toggle="modal" data-bs-target="#delete_task_{{task.id}}">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </li>
                            {%endif%}
                            <!-- confirm deleting of a task -->
                            <div class="modal fade-scale" id="delete_task_{{task.id}}" tabindex="-1" aria-labelledby="delete_taskLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="delete_taskLabel">Confirm deleting the Task</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        
                                        <form class="from delete_task_form" method="post">
                                            {% csrf_token %}
                                            <input type="text" name="task_id" value="{{task.id}}" hidden>
                                            <div class="modal-body">
                                                <p>You're about to delete the following task: <strong>{{task.title}}</strong></p>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" id="delete_task_id" name="delete_task" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {%endfor%}
                    </ul>
                </div>
            </div> 
        </div>
        <div class="col card card2">
            <div class="card-header sticy_card_header">
                Schedule
            </div>
            <div class="card-body">
                <div class="task_lists">
                    <ul id="sec_schedule">
                        {%for task in tasks%}
                            {%if task.quadrant == 'schedule' %}
                            <li class="d-flex task_item" id="ts_{{task.id}}">
                                <form method="post" id="form_task_{{task.id}}" onsubmit="return false">
                                    {% csrf_token %}
                                    <div class="form-check isDone">
                                        {%if task.status == "done"%}
                                            <input class="form-check-input" name="isChecked" type="checkbox" checked>
                                        {%elif task.status == "in_progress"%}
                                            <input class="form-check-input" name="isChecked"  type="checkbox">
                                        {%endif%}
                                    </div>
                                </form>
                                <a href="{%url 'task' task.id %}" class="text-decoration-none text-dark">{{task.title}}</a>
                                <div class="form-check delete_task">
                                    <button type="button" class="btn delete_a_task" data-bs-toggle="modal" data-bs-target="#delete_task_{{task.id}}">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </li>
                            {%endif%}
                            <!-- confirm deleting of a task -->
                            <div class="modal fade-scale" id="delete_task_{{task.id}}" tabindex="-1" aria-labelledby="delete_taskLabel_{{task.id}}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="delete_taskLabel">Confirm deleting the Task</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form class="from delete_task_form" method="post">
                                            {% csrf_token %}
                                            <input type="text" name="task_id" value="{{task.id}}">
                                            <div class="modal-body">
                                                <p>You're about to delete the following task: <strong>{{task.title}}</strong> </p>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" id="delete_task_id" name="delete_task" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {%endfor%}
                    </ul>
                </div>
            </div> 
        </div>
    </div>
    <div class="row">
        <div class="col card card3">
            <div class="card-header sticy_card_header">
                Delegate
            </div>
            <div class="card-body">
                <div class="task_lists">
                    <ul id="sec_delegate">
                        {%for task in tasks%}
                            {%if task.quadrant == 'delegate' %}
                            <li class="d-flex task_item" id="ts_{{task.id}}">
                                <form method="post" id="form_task_{{task.id}}" onsubmit="return false">
                                    {% csrf_token %}
                                    <div class="form-check isDone">
                                        {%if task.status == "done"%}
                                            <input class="form-check-input" name="isChecked" type="checkbox" checked>
                                        {%elif task.status == "in_progress"%}
                                            <input class="form-check-input" name="isChecked" type="checkbox">
                                        {%endif%}
                                    </div>
                                </form>
                                <a href="{%url 'task' task.id %}" class="text-decoration-none text-dark">{{task.title}}</a>
                                <div class="form-check delete_task">
                                    <button type="button" class="btn delete_a_task" data-bs-toggle="modal" data-bs-target="#delete_task_{{task.id}}">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </li>
                            {%endif%}
                            <!-- confirm deleting of a task -->
                            <div class="modal fade-scale" id="delete_task_{{task.id}}" tabindex="-1" aria-labelledby="delete_taskLabel_{{task.id}}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="delete_taskLabel">Confirm deleting the Task</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        
                                        <form class="from delete_task_form" method="post">
                                            {% csrf_token %}
                                            <input type="text" name="task_id" value="{{task.id}}" hidden>
                                            <div class="modal-body">
                                                <p>You're about to delete the following task: <strong>{{task.title}}</strong> </p>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" id="delete_task_id" name="delete_task" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {%endfor%}
                    </ul>
                </div>
            </div> 
        </div>
        <div class="col card card1">
            <div class="card-header sticy_card_header">
                Don't do
            </div>
            <div class="card-body">
                <div class="task_lists" >
                    <ul id="sec_dont_do">
                        {%for task in tasks%}
                            {%if task.quadrant == 'dont_do' %}
                            <li class="d-flex task_item" id="ts_{{task.id}}">
                                <form method="post" id="form_task_{{task.id}}" onsubmit="return false">
                                    {% csrf_token %}
                                    <div class="form-check isDone">
                                        {%if task.status == "done"%}
                                            <input class="form-check-input" name="isChecked" type="checkbox" checked>
                                        {%elif task.status == "in_progress"%}
                                            <input class="form-check-input" name="isChecked" type="checkbox">
                                        {%endif%}
                                    </div>
                                </form>
                                <a href="{%url 'task' task.id %}" class="text-decoration-none text-dark">{{task.title}}</a>
                                <div class="form-check delete_task">
                                    <button type="button" class="btn delete_a_task" data-bs-toggle="modal" data-bs-target="#delete_task_{{task.id}}">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </li>
                            {%endif%}
                            <!-- confirm deleting of a task -->
                            <div class="modal fade-scale" id="delete_task_{{task.id}}" tabindex="-1" aria-labelledby="delete_taskLabel_{{task.id}}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="delete_taskLabel">Confirm deleting the Task</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        
                                        <form class="from delete_task_form" method="post">
                                            {% csrf_token %}
                                            <input type="text" name="task_id" value="{{task.id}}" hidden>
                                            <div class="modal-body">
                                                <p>You're about to delete the following task: <strong>{{task.title}}</strong> </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" id="delete_task_id" name="delete_task" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {%endfor%}
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>

<div class="add_task_container">
    <button type="button" class="btn btn-primary add_task" data-bs-toggle="modal" data-bs-target="#add_new_task">
        <i class="fa-solid fa-plus text-white"></i>
    </button>
</div>


<!-- creating a task -->
<div class="modal fade-scale" id="add_new_task" tabindex="-1" aria-labelledby="add_new_taskLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add_new_taskLabel">New Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="from" method="post" id="task_form">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3 row">
                        <div class="">
                            <input type="text" name="title" class="form-control" id="task_title" placeholder="Task Title">
                        </div>
                    </div>
                    <select class="form-select" name="quadrant" aria-label="Default select example">
                        {%for q in valid_quadrants%}
                            <option value="{{q.0}}">{{q.1}}</option>
                        {%endfor%}
                    </select>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="task_description" id="" rows="5" placeholder="Task's Description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" value="create_new_task" id="save_task" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

{%endblock%}


{%block javascript%}
<script>  
    // create a new task  
    let task_form = document.querySelector("#task_form");

    task_form.addEventListener('submit', Create_newTask)

    
    function Create_newTask(e){
        e.preventDefault();
        
        let formData = new FormData(task_form);

        fetch('http://127.0.0.1:8000/create_task', {
            method: 'POST',
            credentials: 'same-origin',
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
            },
            body: formData
        })
        .then(response => {
            return response.json()
        })
        .then(data => {
            if(data.error){
                new Toast({
                    message: data.error,
                    type: 'danger'
                });
            }
            else{
                let message = data["message"];
                //console.log(message);
                let result = JSON.parse(data["result"]);
                let task_id = result[0]['pk'];
                let task_title = result[0]["fields"]['title']; 
                let task_quadrant = result[0]["fields"]["quadrant"];
                document.querySelector(`#sec_${task_quadrant}`).innerHTML += `
                <li class="d-flex task_item" id="ts_${task_id}">
                    <form method="post" id="form_task_${task_id}" onsubmit="return false">
                        {% csrf_token %}
                        <div class="form-check isDone" id="isDone_${task_id}">        
                            <input class="form-check-input" name="isChecked" type="checkbox">
                        </div>
                    </form>
                    <a href="http://127.0.0.1:8000/task/${task_id}" class="text-decoration-none text-dark">${task_title}</a>

                    <div class="form-check delete_task">
                        <button type="button" class="btn delete_a_task" data-bs-toggle="modal" data-bs-target="#delete_task_${task_id}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </li>
                <div class="modal fade-scale" id="delete_task_${task_id}" tabindex="-1" aria-labelledby="delete_taskLabel_${task_id}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="delete_taskLabel_${task_id}">Confirm deleting the Task</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            
                            <form class="from delete_task_form" id="delete_task_form_${task_id}" method="post">
                                {% csrf_token %}
                                <input type="text" name="task_id" value="${task_id}" hidden>
                                <div class="modal-body">
                                    <p>You're about to delete the following task: <strong>${task_title}</strong> </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" id="delete_task_id" name="delete_task" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>`
                // update task status
                let task = document.querySelector(`#isDone_${task_id}`);
                task.addEventListener('click', (e) => {
                    let list_item = e.target.parentNode.parentNode.parentNode;
                    let task_form_item =  e.target.parentNode.parentNode;
                    let delete_task = e.target.parentNode.parentNode.nextSibling.nextSibling;
                    checkTaskStatus(e.target, list_item, delete_task);
                    updateTask(task_form_item, list_item);
                });
                // delete task
                let dtask = document.querySelector(`#delete_task_form_${task_id}`);
                dtask.addEventListener('submit', DeleteTask)
                new Toast({
                    message: message,
                    type: 'success'
                });
            }
            task_form.reset();
        })
    }
</script>


<script>
    // mark a task as done

    let checkboxTask = document.querySelectorAll(".isDone");

    // onload page
    document.addEventListener('DOMContentLoaded', () => {
        checkboxTask.forEach((task) => {
            let check_task = task.childNodes[1];
            let list_item = task.parentNode.parentNode;
            let delete_task = task.parentNode.nextSibling.nextSibling.nextSibling.nextSibling;
            checkTaskStatus(check_task, list_item, delete_task);
        });
    });

    // check or uncheck events for the checkbox
    checkboxTask.forEach((task) => {
        task.addEventListener('click', (e) => {
            let list_item = e.target.parentNode.parentNode.parentNode;
            let task_form_item =  e.target.parentNode.parentNode;
            let delete_task = e.target.parentNode.parentNode.nextSibling.nextSibling.nextSibling.nextSibling;
            checkTaskStatus(e.target, list_item, delete_task);
            updateTask(task_form_item, list_item);
        });
    })

    function checkTaskStatus(checkboxContainer, li, dt){
        if(checkboxContainer.checked){
            li.style.textDecoration = 'line-through';
            li.classList.add('justify-content-between', 'align-items-center');
            dt.style.display = "inline-block";
            checkboxContainer.checked = true;
        } 
        else{
            li.style.textDecoration = 'none';
            li.classList.remove('justify-content-between', 'align-items-center');
            dt.style.display = "none"; 
            checkboxContainer.checked = false; 
        }
    }

    function updateTask(form, li){
        let formData = new FormData(form);
        let taskId =  li.id.replace("ts_", "");
        fetch(`http://127.0.0.1:8000/update_task_status/${taskId}`, {
            method: 'POST',
            credentials: 'same-origin',
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
            },
            body: formData
        })
        .then(response => {
            return response.json()
        })
        .then(data => {
            if(data.error){
                new Toast({
                    message: data.error,
                    type: 'danger'
                });    
            }
        })

        // submit the form
        form.requestSubmit()
    }
</script>

<script>
    // delete task
    const task_forms = document.querySelectorAll(".delete_task_form");

    task_forms.forEach((task_form) => {
        task_form.addEventListener('submit', DeleteTask)
    })

    
    function DeleteTask(e, form){
        e.preventDefault();
        let taskID = e.target.firstChild.nextSibling.nextSibling.nextSibling.value;

        let formData = new FormData(e.target);

        fetch(`http://127.0.0.1:8000/delete_task/${taskID}`, {
            method: 'POST',
            credentials: 'same-origin',
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
            },
            body: formData
        })
        .then(response => {
            return response.json()
        })
        .then(data => {
            const delete_task = document.querySelector(`#ts_${taskID}`);
            const delete_model = document.querySelector(`#delete_task_${taskID}`)
            delete_task.remove();
            delete_model.remove();
            new Toast({
                message: data.message,
                type: 'success'
            }); 
        })
    }
</script>

{%endblock%}