{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Latest compiled and minified CSS -->
    <link href="{%static 'EisenHowerApp/css/bootstrap.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="{%static 'EisenHowerApp/css/style.css'%}">
    <link rel="stylesheet" href="{%static 'EisenHowerApp/css/toast.css'%}">
    <script src="https://cdn.tiny.cloud/1/glv9jwl9fo4h21ketardyl24lxy8p19dz0zpj3vqdoy9jz5v/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <title>
        {%block title%}EisenHower Matrix{%endblock%}
    </title>
</head>
<body>

    <div class="container-fuill app_container">
        <div class="row">
            <div class="col-2 sideBarM sideBar d-flex flex-column justify-content-center alingn-items-center shadow">
                <div class="sideBar_elements">
                    <a href="{% url 'index' %}">
                        <div class="sideBar_element">
                            <i class="fa-solid fa-house"></i> <span class="sidebar_item">Home</span>
                        </div>
                    </a> 
                    <a href="{% url 'completed_Tasks' %}">
                        <div class="sideBar_element">
                            <i class="fa-solid fa-check"></i> <span class="sidebar_item">Completed Tasks</span>
                        </div>
                    </a> 
                    <a href="#" data-bs-toggle="modal" data-bs-target="#about">
                        <div class="sideBar_element">
                            <i class="fa-solid fa-circle-info"></i> <span class="sidebar_item">About</span>
                        </div>
                    </a>
                    <div class="developer my-2">
                    {%if user.is_authenticated %}
                        <a href="{%url 'logout'%}" class="btn btn-danger text-white">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                        <div class="signedAs">
                            Signed as <strong>{{user.username}}</strong>
                        </div>
                    {%endif%}
                    </div> 
                </div>
            </div>
            
            <main class="col-10 App">
                <div class="toggle_btn">
                    <button class="btn btn-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
                {%block content%}{%endblock%}
            </main>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="sideBar_elementsMin">
                        <a href="{% url 'index' %}">
                            <div class="sideBar_element">
                                <i class="fa-solid fa-house"></i> <span class="sidebar_item">Home</span>
                            </div>
                        </a> 
                        <a href="{% url 'completed_Tasks' %}">
                            <div class="sideBar_element">
                                <i class="fa-solid fa-check"></i> <span class="sidebar_item">Completed Tasks</span>
                            </div>
                        </a> 
                        <a href="#" data-bs-toggle="modal" data-bs-target="#about">
                            <div class="sideBar_element">
                                <i class="fa-solid fa-circle-info"></i> <span class="sidebar_item">About</span>
                            </div>
                        </a>
                        <div class="developer my-2">
                        {%if user.is_authenticated %}
                            <a href="{%url 'logout'%}" class="btn btn-danger text-white">
                                <i class="fas fa-sign-out-alt"></i>
                            </a>
                            <div class="signedAs">
                                Signed as <strong>{{user.username}}</strong>
                            </div>
                        {%endif%}
                        </div> 
                    </div> 
                </div>
            </div>

            <div class="modal fade-scale_from_buttom" id="about" tabindex="-1" aria-labelledby="aboutLabel" aria-hidden="true">
                <div class="modal-sm modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="aboutLabel">About App</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                                The Eisenhower Matrix Wep App. 
                            </div>
                            <div>
                                Developer leeuw @2022.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {%block javascript%}
    {%endblock%}

    <!-- Latest compiled JavaScript -->
    <script src="{%static 'EisenHowerApp/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{%static 'EisenHowerApp/js/toast.js'%}"></script>
    <script src="{%static 'EisenHowerApp/js/helper.js'%}"></script>
</body>
</html>